<div id="step2_container">
<label id="search_employee"><i class="fa fa-search" style="color:#e5e7e8;cursor:pointer;" aria-hidden="true" id="search_icon"></i><input  id="search_field" #fm [(ngModel)]="searchText" (change)="textE($event)" type="text" placeholder="Search by employee name"></label>
<ul id="list">
  <div  *ngFor= "let da of mylist">
    <li class="noon" *ngIf="searchText == undefined || da.name.toLowerCase().search(searchText.toLowerCase()) != -1" #me  id= {{da.id}}  (click) = "pushname(this.me.id)">
    <input type="checkbox"  id="{{'checkme' + da.id}}" value="unchecked"> <p id="uname"> {{da.name}}</p>
    </li>
  </div>
</ul>
</div>
<p class="countme">Selected<input style="color:#73a6d1;font-weight:bold;width:1.5em;border-width:0px;background-color:white;text-align:right;" value={{count}} disabled></p>
