#step3_container{
  width:30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  border: 2px solid #d4d9db;
  padding: 0.9em 0.9em;
  display: block;
  border-radius: 0.3em;
  font-family: 'Muli', sans-serif;
}

#select_v{
 width: 90%;
border: 2px solid #d4d9db;
padding: 0.3em 0.3em;
border-radius: 0.3em;
margin-top: 0.5em;
margin-left: auto;
margin-right: auto;
display: block;
}

.icon_v{
  display: inline;
  width: 20%;
  position: relative;
  color:#b6c8d6;
  margin-left: 9em;
  font-size: 1.2em;
  margin-right: auto;

}
#vendor_ul{
  display: block;
  width: 90%;
  position: relative;
  list-style-type: none;
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;

}
.noon{
  cursor: pointer;
  margin-top: 0.7em;
  width:100%;
  display: block;
  position: relative;
  margin-bottom: 0.7em;
  margin-left: -1.6em;
  margin-right: auto;
}
