#step3_container{
  width:30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  border: 2px solid #d4d9db;
  padding: 0.5em 0.5em;
  display: flex;
  border-radius: 0.2em;
}

#select_v{
 width: 95%;
border: 2px solid #d4d9db;
padding: 0.4em 0.4em;
border-radius: 0.3em;
}

.icon_v{
  display: inline;
  width:  1em;
  position: relative;
color:#b6c8d6;
  margin-left: 9em;
  font-size: 1.2em;
  margin-right: auto;

}
