@mixin f_weight() {
    font-family: 'Muli', sans-serif;
}

#container {
    width: 80%;
    height: fit-content;
    background-color: white;
    margin: auto auto;
    padding: 1em 2em;
    display: block;
    margin-top: 2em;
}

$progress_c:#73a6d1;
.progress_bar {
    width: 50%;
    height: 1px;
    border-radius: 20px;
    background-color: #dae3ea;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    @include f-weight();
}

.baricon1 {
    height: 1em;
    width: 1em;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    padding: 12px;
    color: $progress_c;
    border: 2px solid $progress_c;
    z-index: 3;
    @include f-weight();
}

.baricon1::after {
    display: block;
    position: relative;
    content: 'Generate Route';
    margin-top: 1em;
    z-index: 2;
    margin-left: -3em;
    color: black;
    width: 8em;
    font-size: 0.8em;
    color: #c4cdd3;
    margin-right: auto;
    @include f-weight();
}

.baricon2 {
    height: 1em;
    width: 1em;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    padding: 12px;
    color: #c4cdd3;
    border: 2px solid #dae3ea;
}

.baricon2::after {
    display: block;
    position: relative;
    content: 'Generate Route';
    margin-top: 1em;
    z-index: 2;
    margin-left: -3em;
    color: #b2bbc1;
    width: 8em;
    font-size: 0.8em;
    color: #c4cdd3;
    margin-right: auto;
    @include f-weight();
}

.baricon3 {
    height: 1em;
    width: 1em;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    padding: 12px;
    background-color: white;
    color: #c4cdd3;
    border: 2px solid #dae3ea;
}

.baricon3::after {
    display: block;
    position: relative;
    content: 'Generate Route';
    margin-top: 1em;
    z-index: 2;
    margin-left: -3em;
    color: #b2bbc1;
    width: 8em;
    font-size: 0.8em;
    @include f_weight();
}

.sliding {
    display: flex;
    flex-flow: row;
    width: 90%;
    height: fit-content;
    position: relative;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.prev {
    display: inline;
    background-color: #bdc1c9;
    padding: 0.5em 0.5em;
    border-width: 0px;
    font-weight: bold;
    color: white;
    border-radius: 5%;
    cursor: pointer;
    flex-flow: column;
    position: relative;
}

.pr {
    margin-left: 0.4em;
    margin-right: 0.5em;
}

.next {
    display: inline;
    margin-left: auto;
    margin-right: 0px;
    padding: 0.5em 0.8em;
    font-weight: bold;
    color: white;
    background-color: black;
    border-width: 0px;
    border-radius: 5%;
    flex-flow: column;
    cursor: pointer;
    position: relative;
}

.nxt {
    margin-left: 1em;
    margin-right: 0.3em;
}
